body{
    font-family: 'Roboto', sans-serif;
    margin: 5%;
    margin-left: 30%;
}
.Heading{
    font-size: 3vw;
}
.Description{
    font-size: 1vw;
}
.Phone_Bar{
    display: inline-block;
    background-color: red;
    color: red;
    width: 16.5%;
}
.Sweets_Bar{
    display: inline-block;
    background-color: red;
    color: red;
    width: 6.5%;
}
.Add{
    display: inline-block;
    font-size: 2vw;
    padding-left: .8%;
    padding-right: .8%;
    background-color: black;
    color: white;
    border-radius: 50%;
}